* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.main-page {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.graph-container {
    flex-grow: 4;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: '3d';
    src: url('../font/3d-isometric-font/3DIsometric-YzLLy.ttf') format('truetype');
}

.header {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-family: '3d', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 0;
}

.text-input {
    flex-grow: 1;
    resize: none;
    font-size: 16px;
    border: none;
    outline: none;
}

circle:hover {
    cursor: pointer;
}